checkpoint
*.meta
*.index
*.data-00000-of-00001
*._traffic-signs-data

P3-Behavioural_Cloning/data*
P3-Behavioural_Cloning/model-*
P3-Behavioural_Cloning/tmp/
P3-Behavioural_Cloning/archive/

.idea/

*.zip

P1-lane-lines/annotated-videos/

*.h5

*.gz

*.pyc

*.npy

*.p

*.mp4

P5-vehicle-detection/vehicles/
P5-vehicle-detection/non-vehicles/
P5-vehicle-detection/hogviz/
P5-vehicle-detection/examples/
P5-vehicle-detection/output_images/
P5-vehicle-detection/archive/

*/.ipynb_checkpoints/*

.DS_Store

.ipynb_checkpoints/
