p2-traffic-sign-classifier/traffic-sign-data*
p2-traffic-sign-classifier/model-*
p2-traffic-sign-classifier/tmp/
p2-traffic-sign-classifier/archive/

checkpoint
*.meta
*.index
*.data-00000-of-00001
*._traffic-signs-data

p3-behavioural-cloning/data*
p3-behavioural-cloning/model-*
p3-behavioural-cloning/tmp/
p3-behavioural-cloning/archive/

.idea/

*.zip

p1-lane-lines/annotated-videos/

*.h5

*.gz

*.pyc

*.npy

*.p

*.mp4

p5-vehicle-detection/vehicles/
p5-vehicle-detection/non-vehicles/
p5-vehicle-detection/hogviz/
p5-vehicle-detection/examples/
p5-vehicle-detection/output_images/
p5-vehicle-detection/archive/

*/.ipynb_checkpoints/*

.DS_Store

.ipynb_checkpoints/
